/*CSS Notes

Change color of text*/
p {
	color: blue;
}
/*Any paragraph elements on your page will have the text color blue. p can be changed with any other selector regarding text.
For example h1 or h2.*/

/*Change font size of text*/
p {
	font-size: 10px;
}
/*Any paragraph elements on your page will be in the font-size of 10 pixels. p can be changed with any other selector regarding
text. For example h1 or h2.*/

/*Change the font family of text*/
p {
	font-family: cursive;
}
/*Any paragraph elements on your page will be in the font cursive. p can be changed with any other selector regarding text.
For example h1 or h2.*/

/*Create "back-up" fonts if user doesn't have the "primary" font (This is called degrading fonts)*/
p {
	font-family: cursive, fantasy, monospace;
}
/*Any paragraph elements on your page will be in the font cursive, if they have it, other wise it will be in fantasy, or if they
do not have that, it will be in monospace. p can be changed with any other selector regarding text. For example h1 or h2.*/

/*Control size of image(s)*/
.profilePics {
	width: 100px;
	height: 50px;
}
/*Any image assigned the class of "profilePics" will be forced to have the width of 100 pixels and the height of 50 pixels.*/

/*Add a border*/
.profilePics {
	border: 2px solid black;
}
/*Any image assigned the class of "profilePics" will be forced to have a 2 pixel solid black border.*/

/*Add rounded borders*/
.profilePics {
	border-radius: 10px;
}
/*Any image assigned the class of "profilePics" will be forced to have rounded borders of a radius of 10 pixels.*/

/*Create circular images*/
.profilePics {
	border-radius: 50%;
}
/*Any image assigned the class of "profilePics" will be forced into a circle (Good for profile pictures).*/

/*Change the background color of a div element*/
.red-background {
	background-color: red;
}
/*Any div's with the class of "red-background" will be forced to have a red background.

/*Style an element with an ID*/
#my-id {
	font-size: 20px;
}
/*The element assigned the id "my-id" will be forced to have the font size of 20 pixels.*/

/*Adjust the padding*/
#someElement {
	padding: 20px;
}
/*
Padding is the space between the element and its border.
The element assigned the ID of "someElement" will a padding of 20 pixels assigned to it on all sides.
*/

/*Adjust the margin*/
#someElement {
	margin: 10px;
}
/*
Margin is the amount of space between an element's border and its surrounding elements.
The element assigned the ID of "someElement" will have a margin of 10 pixels assigned to it on all sides.
*/

/*Adjust the padding to specific sides*/
#someElement {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

/*Adjust the margin to specific sides*/
#someElement {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 5px;
	margin-right: 5px;
}

/*Adjust the padding through clockwise notation*/
#someElement {
	padding: 5px 10px 15px 20px
}
/*Top: 5 pixels, Right: 10 pixels, Bottom: 15 pixels, Left: 20 pixels.*/

/*Adjust the margin through clockwise notation*/
#someElement {
	margin: 5px 10px 15px 20px;
}
/*Top: 5 pixels, Right: 10 pixels, Bottom: 15 pixels, Left: 20 pixels.*/

/*Use important*/
#someElement {
	color: red !important;
}
/*The element assigned "someElement" will remain the color red no matter what*/
